@font-face {
    font-family:Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf'); 
   }
@font-face {
font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf'); 
       }
@font-face {
    font-family: 'Pe-icon-7-stroke';
    src: url('../fonts/Pe-Icon 7/Pe-icon-7-stroke.ttf');
}
body{
margin:0;
padding:0;
height:100%;
}
header.menu{
width:100%;
background-color:#fff;
height:70px;
}
header.menu nav{
position: relative;
width:85%;
margin: auto;
}

header.menu nav ul{
display: flex;
justify-content: flex-end;

}
header.menu nav div.logo{
position: absolute;
width:32px;
top:50%;
transform: translateY(-50%);
}
header.menu nav ul li{
list-style: none;
padding:25px 10px;
}
header.menu nav ul li a{
text-decoration: none;
color: #191919;
font-family: Montserrat;
font-size: 12px;
font-weight: 1000;
text-transform: uppercase;
}
header.menu nav ul li a:hover{
color: #10c9c3;
}
header.menu .burger{
position: relative;
display:none; 
left:90%;
top:35px;
width:30px;
}
header.menu .burger span{
display:none;
    border-radius: 50px;
    width: 30px;
    height: 2px;
    background:#10C9C3;;
    margin: 6px 0px;
}
.contentwork{
width:85%;
margin: auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.contentwork .title{
width:100%;
display:flex;
justify-content: center;
color: #171717;
font-family: Montserrat;
font-size: 38px;
font-weight: 500;
line-height: 84px;
letter-spacing: 0.38px;
}
.contentwork .worktext{
color: #787878;
font-family: "Nunito Sans";
font-size: 18px;
font-weight: 400;
line-height: 28px;
}
.works{
        display:flex;
         flex-wrap: wrap;
     }   
     .work{
         position: relative;
        width:25%;
        
         overflow: hidden;
        
     }
     .work img{
        width:100%;
     }
     .work .hover{
        position: absolute;
        width:100%;
        height: 100%;
       background-color: #10c9c3;
        transition:0.6s all;
        opacity:0;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center; 
     }
        .work:hover .hover{
opacity: 0.85;
     }
.work .hover img{
    width:48px;
    height: 30px;
}
.works .more{
text-decoration: none;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 0px;
letter-spacing: 1.2px;
text-transform: uppercase;
color: #8E8E8E;
background: #F5F5F5;
padding:48px;
width:100%;
outline:none;
border: 0;

}
.works__onepage .work .hover{
background: #141414;
}
.footer{
    background:#141414;
    height:284px;
}
.footer .copy .title{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
margin-bottom:24px;
letter-spacing: 0.18px;
color: #FFFFFF;

padding:0;
}
.footer .copy{
width:19%;
}
.footer .copyright{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.075px;
color: #BCBCBC;
}
.footer .communication{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.075px;
color: #BCBCBC;
margin-left:16%;
margin-right:8.5%;
width:13.5%
}
.footer .content{
position: relative;
width:80%;
margin:auto;
display: flex;
flex-wrap: wrap;
top:72px;
}
.footer a{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.075px;
display: flex;
flex-wrap: wrap;
color: #BCBCBC;
text-decoration: none;
}
.footer a:hover{
color:#fff;
}
.footer .column{
width:90px;
}
.footer .social{
margin-left:8%;
}

.cut{
width:85%;
margin:auto;

}
/* banner*/
.banner{
width:100%;
height:673px;
position: relative;
}
.banner header.menu{
background:rgba(0,0,0,0);
}
.banner .banner__image{
position: absolute;
width:100%;
height:100%;
top:0;
z-index:-1;
background:#eaeaea;
overflow:hidden;
}
.banner .banner__image img{
width:100%;
height:auto;
}
.banner .banner-block {
    position: relative;
    width: 43%;
    left: 80%;
    transform: translate(-50%, 100%);
}
.banner .banner-block .title{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 48px;
letter-spacing: 0.38px;

color: #1D1D1D;
}
.banner .banner-block .desc{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.09px;
color: #787878;
margin-bottom:31px;
}
.banner .banner-block a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding: 18px 36px;
    padding-left: 40px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #10C9C3;
}
.about{
    max-width: 650px;
    height: 570px;
    margin-top: 31px;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translateY(45%);
    margin-bottom: 98px;
}
.about h1{
position: relative;
left:50%;
transform: translateX(-50%);
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
text-align: center;
letter-spacing: 0.3px;
color: #191919;

}
.about .content{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.08px;

color: #787878;
}
.signature{
margin-top:31px;
}
.signature::after{

}
.skills{
display:flex;
flex-wrap:wrap;
}
.skills .content{
width:50%;
background: #F8F9F9;
height: 574px;

  
}
.skills .image{
width:50%;
background: #E9E9E9;
height:auto;

overflow:hidden;
}
.skills .image img{
position: relative;
width:100%;
height:auto;
top:50%;
transform: translate(0%,-50%);
}
.skills .content .skillwork{
    position: relative;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%,70%);
}
.skills .content h1{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
letter-spacing: 0.3px;
color: #171717;
}
.skills .content .skill .name,.skills .content .skill .percent{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 30px;
letter-spacing: 1.2px;
text-transform: uppercase;
color: #000000;
display: inline-block;

}
.skills .content .skill{
margin-bottom:30px;
}
.skills .content .skill .bar{
    max-width:503px;
    height:6px;
    background: #D8D8D8;
}
.skill .bar .lore{
height:6px;
background: #10C9C3;
}
.numbers{
width:100%;

background: #10C9C3;
display:flex;
align-items: center;
justify-content: center;

}
.numbers .icon{
font-family: 'Pe-icon-7-stroke';
    font-size: 48px;
    line-height: 30px;
    letter-spacing: 2.4px;
    color: #FFFFFF;
    display: inline-block;
    float: left;
        margin-right: 30px;
    transform: translateY(50%);
}
.numbers .text{
float:left;
}
.numbers .info{

display: inline-block;
width:24%;
margin:90px 0px;
}
.numbers .num,.numbers .infoname{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 30px;
letter-spacing: 1.2px;
text-transform: uppercase;
color: #FFFFFF;

}
.numbers .num{
font-size: 18px;
}
.process .title h1{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 60px;
text-align: center;
letter-spacing: 0.3px;

color: #191919;
}
.video__process .video{
width:100%;
height:574px;
background: #E9E9E9;
margin-bottom: 92px;
}




.video__process .video .playicon{
position: relative;
width: 88px;
height: 88px;
border-radius:50%;
background: #10C9C3;
top:50%;
margin: auto;
transform: translateY(-50%);
transition:0.5s ease-out;
}

.video__process .video .playicon:after{
font-family: 'Pe-icon-7-stroke';
content:'';
font-size:32px;
color:#fff;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
color:#fff;
}
.video__process .video .playicon:hover{
background:#151719;
}

.process .title p{
    
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.08px;
margin:auto;
color: #787878;
width:45%;
margin-bottom: 59px;
margin-top:-9px;
}
.services{
display: flex;
flex-wrap: wrap;
align-items: flex-start;
align-self:auto;
}
.services{
    background: #F5F5F5;
    padding:100px 0px;
}
.services .service{
width: 18%;
    margin: 3%;
    display: inline-flex;
    flex-wrap: wrap;
}
.service .service__icon{
position: relative;
    display: inline-block;
     font-family: 'Pe-icon-7-stroke';
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
line-height: 30px;
letter-spacing: 2.4px;
margin-bottom:11px;
color: #656565;
}
.service .service__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
  
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #191919;
    text-align: center;
}

.service .service__info{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.08px;
color: #787878;
margin: auto;
}
.testimonials{
padding:174px 0px;
background: #10C9C3;

}
.testimonials .testimonials_author{
    
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 36px;
text-align: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #FFFFFF;
}
.testimonials .testimonial__comment{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
text-align: center;
letter-spacing: 0.3px;
color: #FFFFFF; 
width:60%;
margin: auto;

    
}

.pagination{
    position: absolute;
    left:50%;
    transform: translate(-80%);
    margin-top:92px;
}
.pagination__page{
    width:8px;
    height: 8px;
    border-radius:50%;
   background: #B0E8E6;
    display:inline-block;
    list-style: none;
    
}
.pagination__page.active{
    width: 13px;
height: 13px;
background: #FFFFFF;
}
.clients{
display: flex;
    flex-wrap:wrap;
    width: 85%;
    margin: 66px 135px;
    margin-left: auto;
    margin-right: auto;
}
.clients .client{
    width: 20%;
    display: flex;
    justify-content: center;
}

.contact{
    background: #F5F5F5;
height:auto;
padding:100px;
}
.contact .title{
    width:41%;
    margin:auto;
}
.contact .title h1{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 84px;
letter-spacing: 0.3px;
text-align: center;
color: #1D1D1D;
margin:0;
padding:0;
}

.contact .title p{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.08px;
color: #787878;
}
.contact .contact__form{
width:50%;
display: flex;
flex-wrap: wrap;
margin:auto;
}
.contact .contact__form .group{

background:#fff;
width:calc(50% - 22px);
overflow:hidden;
margin-right:20px;
margin-top:27px;
}
.contact .contact__form .group.title,.contact .contact__form .group.comment{
width:99%;
}
.contact__form .group.comment{
height:173px;
margin-bottom:16px;
}
.contact .contact__form .group input{
border:none;
width:90%;
outline:0;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.075px;
padding:15.5px 0px 11.5px 22px;
color: #787878;

}
.contact .contact__form .button, .contact .link{
display:block;
border:0;
outline:0;

padding:24 35px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
letter-spacing: 1.2px;
text-transform: uppercase;
color: #FFFFFF;
background: #10C9C3;
margin:auto;
}

.banner-about{
width:100%;
height: 350px;
    background: #141414cc;
    display: flex;
    justify-content: center;
    align-items: center;
        position: relative;
    overflow:hidden;
}
.banner-about:after{
position:absolute;
  width:100%;
height:350px;
  background: #7E7E7E;
    
}
.banner-about .image{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.banner-about .image img{
width:100%;
height:auto;
position: relative;
transform: translateY(-50%);
}
.about_me .img img{
width:100%;
height: auto;
}
.banner-about .content{
width:42%;
}
.banner-about .title{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height:48px;
text-align: center;
letter-spacing: 0.38px;
color: #FFFFFF;
margin-bottom: 20px;
}
.banner-about .desc{
 font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
text-align: center;
letter-spacing: 0.09px;

color: #FFFFFF;   
}
.about_me{
display:flex;
flex-wrap:wrap;
height: auto;
align-items:center;
}
.about_me .img{
width:49%;
height:auto;
background: #E1E1E1;
display:inline-block;
}
.about_me .text{
    width: 49%;
    display: flex;
    justify-content: center;
}
.about_me .text h1{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
letter-spacing: 0.3px;
color: #171717;
}
.about_me .text p{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.08px;
color: #787878;
}
.about_me .text .about_me__desc{
width:70%;
margin: auto;
}
.contact .link{
text-decoration: none;
display:inline-block;
position: relative;
left:50%;
transform: translateX(-50%);
padding-left:54px;
padding-right:54px;
margin-top: 20px;
}
.single{
display:flex;
flex-wrap:wrap;
}

.single .content{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(-10%);
}
.single .content .content__main{
width:68%;
}
.single .content h1{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 38px;

letter-spacing: 0.38px;
color: #171717;
}
.single .content p{
  font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.08px;
color: #787878;  
}

.single .content .client,.single .content .date,.single .content .share{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.08px;
text-transform: uppercase;
}
.single .content .client:before{
content:'Client: ';
}
.single .content .date:before{
content:'Date: ';
}
.single .content .share:before{
content:'Share: ';
}
.single .content .client:before,.single .content .date:before,.single .content .share:before{
font-weight: bold;
color: #171717;
}


.single .photo{
    width: 50%;
    background: #E6E6E6;
    margin: auto;
}
.single .photo img{
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    content:'4';
}
.contacts{
display:flex;
flex-wrap:wrap;
}
.contacts .info{
width:49%;
}
.contacts{
display:flex;
align-items: center;
}
.contacts .contact{
width:49%;
background:#fff;
padding:0;
padding:100px 0px;
}
.contacts .contact__form{
width:100%;
}
.contacts .contact__form .button{
margin:0;
}
.contacts .info .info__block{
width:55%;
transform: translateY(-10%);
margin:auto;
}
  header.menu .burger{
        display: none;
    }
.contacts .info h1{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 84px;
letter-spacing: 0.3px;
color: #171717;
margin:0;
}

.contacts .info p{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.08px;
color: #787878;
}

.contacts .info .address, .contacts .info .phone , .contacts .info .fax,.contacts .info .email{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 36px;
letter-spacing: 0.08px;
color: #787878;
}
.contacts .info .address:before, .contacts .info .phone:before , .contacts .info .fax:before ,.contacts .info .email:before{
 font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 36px;
letter-spacing: 0.08px;
color: #171717;
}
.contacts .info .address:before{
content:'Address:  '
}
.contacts .info .phone:before{
content:'Phone:  '
}
.contacts .info .fax:before{
    content:'Fax: '
}
.contacts .info .email:before{
content:'Email: '
}
.maps{
width:85%;
margin:auto;
margin-bottom:100px;
}
.project_nav{
    width: 85%;
    margin: auto;
    position: relative;
    height: 103px;
    display: flex;
    align-items: center;

}
.project_nav a.icon{
    position:absolute;
    width:30px;
    height:30px;
   left:50%;
    display:inline-block;
transform: translate(0%);
}
.project_nav a{
text-decoration: none;
color: #1D1D1D;
}

.project_nav .icon span:after{
position:relative;
width:9px;
height:9px;
content:'';
background:#252525;
float:left;
margin:2px;
}

.project_nav .prev,.project_nav .next{
display:inline-block;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 84px;
letter-spacing: 1.2px;
text-transform: uppercase;
white-space:nowrap;
}
.project_nav .next{
position: absolute;
   transform:translate(-200%,-50%);
    margin-left: 100%;
}
   .project_nav .prev p, .project_nav .next p{
    display:inline-block;
    }
.project_nav .next::after,.project_nav .prev::before{
    font-family: 'Pe-icon-7-stroke';
    position: relative;
    font-size: 24px;
    top: 5px;
    line-height: 84px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    color: #000000;
}
.project_nav .next::after{
 content: "";
}
.project_nav .prev::before{
content:"";
}
@media (max-width: 960px) {

    .footer .copy{
 width:50%;
margin-bottom:30px;
    }
    .footer .communication{
        width:50%;
        margin:0;
        margin-top:45px;
    }
    .footer .column{
    width: 15%;
    }
.footer .social{
width:30%;
}
      .banner .banner-block {
        left: 80%;
    transform: translate(-50%, 50%);
    }
}
@media (max-width: 600px) {
    
    .footer .copy{
 width:100%;
    }
    .footer .communication{
        width:100%;
        margin:0;
        margin-bottom: 20px;
    }

}
    header.menu.active .burger span:ntn-child(1){
     transform: rotate(45deg);
    }

    header.menu.active .burger span:ntn-child(2){
     transform: rotate(-45deg);
    }

    header.menu.active .burger span:ntn-child(3){
    opacity:0;
    }
header.menu.active ul{
   top:20px;
}
@media (max-width: 700px) {
    header.menu nav div.logo{
  transform: translateY(50%);
    }
    header.menu nav ul{
    position:fixed;
    width:50%;
    height:100%;
    display:block;
    
    background:#10C9C3;
    left:-100%;
    padding:0;
    margin-top:30px;
    transition:0.4s ease-out;
    }
  header.menu .burger{
        display: inline-block;
    }
    header.menu{
    transition:0.2s all;
    }

    header.menu.active{
    position:fixed;
    background:#10C9C3;
    z-index:1000;
    }
    header.menu.active .burger span{
    background:#fff;
    }
     header.menu.active ul{
       left:0%;
    }
    header.menu.active ul li a{
    color:#fff;
    }
    header.menu .burger span{
     display:block;   
    }
    header.menu .burger{
    transform: translateY(-30%);
    }
}
@media (max-width: 820px) {
    .skills .content{
    width:100%;
    }
     .skills .image{
    width:100%;
    }

    .works .work{
    width:50%;
    }
.services .service {
  width: 43%;
    }
    .contact .title{
    width:80%;
    }
    .contact .contact__form {
    width:90%;
    }
.single .content{
    width:100%;
        margin-top:80px;
    }

}
@media (max-width: 1020px) {
    .contacts .info {
        width: 99%;
    margin-top: 80px;
    }
    .contacts .contact{
    margin:auto;
    width:61%;
    }
}
@media (max-width: 1279px) {

  .single .content{
    margin-top: 100px;
    }
        .numbers .info{
    width:45%;
    margin: 30px 0px;
    }
}
@media (max-width:680px) {
    .numbers .info{
    width:100%;
    }
    .banner .banner-block{
    left: 50%;
    width:100%;
    transform: translate(-50%, 50%);
    }
    .contact{
    padding:25px;
    }
    .clients .client{
    width:30%;
    margin:1.5%;
    }
        .single .content .content__main{
    width:80%;
    }
  
    .about_me .img{
    width:100%;
    }
    .about_me .text{
    width:100%;
    margin:15%;
    }
    .about_me .text .about_me__desc{
    width:100%;
    }
    .project_nav .prev p, .project_nav .next p{
    display:none;
    }
    .project_nav .next::after, .project_nav .prev::before{
    font-size:55px;
    }
       .skills .content .skillwork{
    left: 50%;
    margin-right: 25%;
    transform: translate(-50%,50%);
    }
    .testimonials .testimonial__comment{
    width:75%;
    }
    .contacts .info .info__block{
    width:80%;
    }
    .contacts .contact{
    width:80%;
    }
    .contact .contact__form{
    width:100%;
    }
        .contact .contact__form .group{
        width: calc(100% - 22px);
    }
    .footer .column,.footer .social{
        width: 20%;
    margin: 1.5%;
    }
        .footer{
      height: 50vh;
    }
}
@media (max-width:400px){
        .banner .banner-block{
        transform: translate(-50%, 25%);
    }
    .single .content .content__main{
    width:90%;
    }
    .skills .content h1{
    font-size:24px;
    }
    .clients .client{
     width:45%;
     margin:2.5%;
    }
       header.menu.active ul{
       width: 100%; 
    }
     .contact{
    padding:10px;
    }
   .skills .content .skillwork{

    margin-right: 3%;

    }
    .works .work{
    width:100%;
    }
    .services .service{
    width:94%;
    margin:3%
    }

        .testimonials .testimonial__comment{
    width:90%;
        font-size:24px;
    }
       .footer .column,.footer .social{
        width:30%;
    margin: 1.5%;
    }
    .footer{
    height:370px;
    }

}

